.parent{
    display: flex;
    justify-content: space-evenly;
}	
.child{
    border-radius: 10px;
    box-shadow: 0px 0px 20px red;
    height: 500px;
    width:300px;
    text-align: center;
}
img{
    height:200px;
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}
p{
    padding: 0px 20px 0px 20px;
}
button{
    background-color: black;
    color:white;
    padding: 10px;
}